<section id="enfoque" class="enfoque-section">
  <h1 class="enfoque-title">Enfoque</h1>
  <div class="enfoque-container">
    <div class="mision">
      <div class="mision-text">
        <h3>Misión</h3>
        <p>
          Eliminar el sesgo humano en la investigación de mercado,
          proporcionando a las empresas datos emocionales auténticos y precisos
          que mejoren la toma de decisiones.
        </p>
      </div>
      <div class="mision-image">
        <img src="assets/images/Enfoque%201.png" alt="Misión">
      </div>
    </div>
    <div class="vision">
      <div class="vision-image">
        <img src="assets/images/Enfoque%202.png" alt="Visión">
      </div>
      <div class="vision-text">
        <h3>Visión</h3>
        <p>
          Ser la herramienta líder en el análisis automatizado de emociones,
          revolucionando cómo las empresas comprenden a sus consumidores y optimizan
          sus productos en todo el mundo.
        </p>
      </div>
    </div>
  </div>
</section>
