<div class="navbar">
  <div class="nv-title">
    <h1>FacialTruth</h1>
  </div>
  <div class="nv-buttons">
    <button *ngFor="let boton of navbarButtons" class="nbbutton">
      <a href="#{{boton.link}}">{{ boton.text }}</a>
    </button>
  </div>
</div>

<section id="inicio">
  <app-start></app-start>
</section>

<section id="producto">
  <app-product></app-product>
</section>

<section id="enfoque">
  <app-approach></app-approach>
</section>

<section id="quienes-somos">
  <app-team></app-team>
</section>

<section id="contactanos">
  <app-contact></app-contact>
</section>

<footer id="footer">
  <app-footer></app-footer>
</footer>


