<div class="title-style">
  <h2><b>¿Quienes somos?</b></h2>
</div>
<div class="team-items">
  <div class="item">
    <p><b>Christian Zeta</b></p>
    <img src="assets/images/Foto-Christian.png" alt="Foto-Christian">
  </div>
  <div class="item">
    <p><b>Alonso Robles</b></p>
    <img src="assets/images/Foto-Alonso.png" alt="Foto-Alonso">
  </div>
  <div class="item">
    <p><b>Erick Urbizagastegui</b></p>
    <img src="assets/images/Foto-Erick.png" alt="Foto-Erick">
  </div>
  <div class="item">
    <p><b>Andres Poig</b></p>
    <img src="assets/images/Foto-Andres.png" alt="Foto-Andres">
  </div>
  <div class="item">
    <p><b>Damaris Tasayco</b><p>
    <img src="assets/images/Foto-Damaris.png" alt="Foto-Damaris">
  </div>
  <div class="item"></div>
</div>
